<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>servletjsp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>HomeController</servlet-name>
    <servlet-class>servlet.HomeController</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeController</servlet-name>
    <url-pattern>/HomeController</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>exam03.ContentController</servlet-name>
    <servlet-class>servlet.exam03.ContentController</servlet-class>
    <init-param>
   	 	<param-name>encoding</param-name>
    	<param-value>UTF-8</param-value>
    	</init-param>
    	
    	 <init-param>
   	 	<param-name>viewLocation</param-name>
    	<param-value>/WEB-INF/views</param-value>
    	</init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>exam03.ContentController</servlet-name>
    <url-pattern>/exam03/ContentController</url-pattern>
  </servlet-mapping>
</web-app>